services:
  app:
    build: .
    restart: always
    expose:
      - "80"
    deploy:
      replicas: 3
    networks:
      - app-network

  lb:
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/lb.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
